/*    Reset   */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/*    Include Fonts   */
@font-face{
  font-family: 'Space Grotesk';
  src: url('css/fonts/SpaceGrotesk-Bold.otf');
  font-weight: 700;
}
@font-face{
  font-family: 'Space Grotesk';
  src: url('css/fonts/SpaceGrotesk-Regular.otf');
  font-weight: 400;
}
@font-face{
  font-family: 'Space Grotesk';
  src: url('css/fonts/SpaceGrotesk-Light.otf');
  font-weight: 300;
}

/*    Generals Definitions   */

body{
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  color: rgb(92, 92, 92);
}

input, select
{
  display: block;
  margin: 15px auto;
  padding: 7px;
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 1em;
  background: #fff;
  border: none;
  box-shadow: 0 0 0.4em #00000050;
  cursor: pointer;
}

input:hover,select:hover
{
  box-shadow: 0 0 0.4em #00000050;
}

button{
  padding: 8px;
  outline: none;
  border: none;
}

a
{
  color: rgb(30, 202, 139);
}
a:hover
{
  color: #141474;
}

/*    State Definitions   */

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#active{
  box-shadow: 0 0 0.6em #00000050;
  background: #2a2ac9;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s linear;
}

#notactive{
  background: #fff;
  color: rgb(92, 92, 92);
  border-radius: 5px;
  transition: all 0.3s linear;
}

#show {
  transform: translateX(-300px);
  transition: all 0.6s ease-out;
}

#noshow {
  transform: translateX(0px);
  transition: all 0.6s ease-out;
}



/*    Grid Definition   */
.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 70px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
  color: rgb(53, 90, 138);
  grid-area: header;
  background-color: #F5F7FA;
  box-shadow: 0 0 0.6em #000;
  padding: 15px;
}

.sidenav {
  background-color: #fff;
  display: flex;
  width: 300px;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  overflow-y: auto;
  position: fixed;
  box-shadow: 0 0 0.8em #00000050;
}

.main {
  grid-area: main;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  background-color: #fff;
}


/*    Header Section   */

.header .title{
  font-weight: 700;
  margin-bottom: 0.4em;
}

.header .subtitle{
  padding: 0 25px;
  color: rgb(92, 92, 92);
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .expand-container{
  width: 100%;
  height: 40px;
  z-index: 1;
}
.header .expand-container .expandable{
  position: relative;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background: rgb(53, 90, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:  0 0 0.6em #00000040;
}

.header .expand-container .expandable .menu-icon{
  margin-top: 4px;
  height: 3px;
  width: 58%;
  background: rgb(255, 255, 255);
  transform: translateY(-2px)
}


/*    Footer Section   */
/*--Implements the class footer--*/
/*--Implements the class unselectable--*/


/*    Main Section   */
/*--Implements the class switch and all her childrens--*/
/*--Implements the class oppen-settings-div and all her childrens--*/
/*--Implements the class form_sliderdiv and all her childrens--*/
/*--Implements the class color-input-div and all her childrens--*/
/*--Implements the class number-input-div and all her childrens--*/

.main #test{
  margin-top: auto;
  box-shadow: 10px -2px 0.4em #00000020;
  background: #fff;
  padding-bottom: 20px;
  display: none;
  z-index: 1;
}

.main #test .open-settings-div{
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#test h3{
  padding: 15px;
}

/*    Reusable Inputs   */

.number-input-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 20px;
}

.number-input-div .setting-input{
  margin-right: 0;
}

.number-input-div .setting-p{
  text-align: left;
}

.form_sliderdiv
{
  width:300px;
  height:40px;  
  display:inline-block;
  position:relative;
  margin:5px;
  padding:2px;
}

.form_sliderdiv .form_sliderline
{
  position:absolute;
  left:0px;
  top:23px;
  height:4px;
  width:300px;
  border-radius:3px;
  background-color:rgb(180, 180, 180);
}

.form_sliderdiv .end-slider{
  position:absolute;
  top:20px;
  height:10px;
  width:4px;
  border-radius:2px;
  background-color:rgb(53, 90, 138);
}

.form_sliderdiv .slider{
  position:absolute;
  top: 15px;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: rgb(92, 92, 92);
  border: 2px solid rgb(92, 92, 92);
}

.switch{
  margin: 20px auto;
}
.switch .switch-text{
  font-family: 'Space Grotesk';
  font-weight: 400;
  font-size: 14px;
}
.switch .switch-body{
  width:48px;
  height:16px;
  border-radius:18px;
  background-color:rgb(190, 190, 190);
  display:inline-block;
  position:relative;
  margin: 10px;
}
.switch .switch-body .switch-circle{
  width:25px;
  height:25px;
  border-radius:50%;
  background-color:rgb(92, 92, 92);
  display:inline-block;
  position:absolute;
  top:-4px;
}

.hide-input-for-copy{
  height: 1px;
  width: 1px;
  color: #777777;
  border : none;
  outline: none;
  background : inherit;
  box-shadow: none;
  overflow: hidden;
}


/*   Reusable Buttons   */

.close-btn-div{
  width: 100%;
  min-height: 12px;
  margin-top: 30px;
}

.btn-copy{
  background: rgb(30, 202, 139);
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
}

.btn-copy:hover{
box-shadow: 0 0 0.4em #00000050;
}

.close-btn{
  background: #cf1313;
  box-shadow: 0 0 0.4em #00000030;
  height: 30px;
  width: 30px;
  position: relative;
  color: white;
  line-height: 30px;
  top: 15px;
  float: right;
  margin-right: 15px;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}

.close-btn:hover{
  background: #fff;
  color: #cf1313;
  box-shadow: 0 0 0.4em #000000;
  transition: all 0.3s ease-in;
}

.formbutton_removeloop
{
  font-size:80%;
  color:rgb(54, 54, 54);
  position:absolute;
  right:0px;
  top:0px;
  background-color:#ffffff;
  height: 29px;
  line-height: 20px;
  cursor:pointer;
  padding:5px;
  border-radius: 0 5px 0 0;
}
.formbutton_removeloop:hover{
  background: #cf1313;
  color: #fff;
}

/*  Loop Div   */

.loopdiv
{
  position: relative;
  min-height: 100px;
  text-align: left;
  padding-bottom:20px;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 5px;
  margin: 0 2px;
}

.loopdiv p
{
  background: #fff;
  cursor:pointer;
  color: rgb(92, 92, 92);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8em;
}
.loopdiv .effectdiv
{
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin: 5px;
  margin-top: 8px;
  box-shadow:  0 0 0.4em #000000e0;
  height: 30px;
  font-size: 0.75em;
}

.loopdiv .effectdiv div, 
.loopdiv .effectdiv b,
.loopdiv .effectdiv i{
  cursor:pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.loopdiv .effectdiv .btn-effect{
  border-radius: 5px 0 0 5px;
  background: #000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 10px;
}

.loopdiv .effectdiv .btn-effect-item{
  color: #303080;
}

.loopdiv .effectdiv .formbutton_removeeffect
{
  font-size:90%;
  color:#fff;
  background-color:#cf1313;
  padding: 5px;
}

.loopdiv .effectdiv .formbutton_info
{
  color: #000;
  background: rgb(204, 204, 204);
  border-radius:  0 5px 5px 0 ;
  padding: 10px;
  font-weight: 700;
}

.loopdiv .span-btn{
  display:inline-block;
  position:absolute;
  margin: 8px;
  margin-right: 0;
  bottom:4px;
  right:0;
  font-size: 0.75em;
}

.loopdiv .span-btn b{
  position: relative;
  color:#fff;
  cursor:pointer;
  padding:5px;
  margin-right:5px;
  border-radius: 5px;
}

.loopdiv .span-btn .btn-add-loop{
  background-color:rgb(30, 202, 139);
}

.loopdiv .span-btn .btn-add-effect{
  background-color:#2a2ac9;
}

/*    Setting Section   */
/*--Implement the class number-input-div--*/
/*--and her childrens setting-input and setting-p--*/
/*--Implement the class close-btn-div--*/

.settings-div{
  margin: 0 15px;
  border-radius: 10px;
  box-shadow: 0 0 0.6em #00000020;
}

.panel #message{
  margin: 5px 15px 10px 15px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 0.4em #00000040;
  word-wrap: break-word;
  font-size: 0.9em;
}

.close-btn-div .remove-strip{
  width: 100%;
  background: #fff;
  color: rgb(226, 14, 14);
  box-shadow: none;
  padding: 12px;
  transition: all 0.25s linear;
}

.close-btn-div .remove-strip:hover{
  background: rgb(226, 14, 14);
  color: #fff;
  transition: all 0.25s linear;
}

/*  Import Div   */
/*--Implements the class btn-copy--*/

#importDiv{
  margin: 15px;
  border-radius: 8px;
  box-shadow:  0 0 0.4em #00000040;
}


#importDiv .textarea-import{
  width:100%;
  min-height:30vh;
  max-height:70vh;
  text-align:left;
  overflow:auto;
  border: none;
  padding: 15px;
  border-radius: 8px;
  outline: none;
}

/*    Export Section   */
/*--Reutilizes the class settings-div--*/
/*--Reutilizes the class btn-copy--*/
/*--Reutilizes the class hide-input-for-copy--*/



/*    Generate Arduino Code Section   */
/*--Reutilizes the class btn-copy--*/
/*--Reutilizes the class hide-input-for-copy--*/

.arduino-code-div{
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 0 0.6em #00000020;
}

.cpp{
  border-radius: 8px;
}


/*    About Section   */

#aboutDiv{
  display: none;
  margin: 10px;
  padding: 20px;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: 0 0 0.4em #00000020;
  word-wrap: break-word;
}

#header{
  display: block;
  position: relative;
}

#header .arrow{
  position: absolute; 
  right:10px; 
  top: 0;
  color: #2a2ac9;
}


/*    Sidenav Section   */

.sidenav .sidenav-data{
  width: 280px;
  margin: 15px 10px 5px 10px;
  padding: 10px;
  border-radius: 5px;
}

.sidenav.sidenav-list{
  width: 100%;
  margin-top: 15px;
  list-style-type: none;
}

.panel{
  width: 100%;
  display: block;
  overflow: hidden;
}

.sidenav .sidenav-list .add-led{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav .sidenav-list .add-led .btn-add-strip{
  border: none;
  box-shadow: none;
  background: rgb(30, 202, 139);
  margin: 0 15px;
  width: 100%;
  color: #fff;
  padding: 10px;
  transition: all 0.2s ease-in;
}

.sidenav .sidenav-list .add-led .btn-add-strip:hover{
  background: #fff;
  color: rgb(30, 202, 139);
  transition: all 0.2s ease-in;
  box-shadow:  0 0 0.4em #00000040;
}

.sidenav .sidenav-list .sidenav-list-item{
  margin: 10px 15px 5px 15px;
  padding: 7px;
  cursor: pointer;
}

.sidenav .sidenav-list .sidenav-list-item .emphasis{
  color: rgb(30, 202, 139);
  font-family: 'Space Grotesk';
  font-weight: 700;
}

.sidenav .sidenav-list .sidenav-list-item:hover{
  box-shadow: 0 0 0.6em #00000030;
  border-radius: 5px;
  transition: all 0.16s linear;
}


/*    Select Interface   */

.formoverlayblack
{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0px;
  left:0px;
  background-color: rgba(233, 233, 233, 0.6);
}

.formoverlayblack .form_windowselect
{
  min-width:100px;
  min-height:30px;
  max-height:150px;
  padding: 8px;
  overflow:auto;
  border-radius:4px;
  border-style:solid;
  border-width:1px;
  border-color:white;
  position:absolute;
  background-color:white;
  color:black;
  top: 100px;
  left: 100px;
}

.formoverlayblack .form_windowselect div
{
  cursor: pointer;
}
.formoverlayblack .form_windowselect div:hover
{
  background: #77777740;
}

.formoverlayblack .form_windowselect span
{
  display: block;
  cursor: pointer;
  border-radius:4px;
}

/*    Color Input Section   */
/*--Implements the class open-settings-div--*/

.open-settings-div .color-input-div{
  width: 300px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(92, 92, 92);
  background: #00000007;
  padding: 10px 20px 10px 20px;
  border-radius: 7px;
}

.open-settings-div .color-input-div p{
  margin: 10px;
}
.open-settings-div .color-input-div div{
  width:100px;
  height:10px;
  border-radius:5px;
}
.open-settings-div .color-input-div b{
  display:block;
  color:#cf1313;
  cursor:pointer;
  height: 30px;
  width: 30px;
  line-height: 28px;
  border-radius: 15px;
  border: 1px solid #cf1313;
}

.open-settings-div .color-input-div b:hover{
  background: #cf1313;
  color: white;
}

.close-btn-div .color-add{
  width: 380px;
  background: #fff;
  color: rgb(53, 90, 138);
  box-shadow: none;
  padding: 12px;
  transition: all 0.25s linear;
}

.close-btn-div .color-add:hover{
  background: rgb(53, 90, 138);
  color: #fff;
  transition: all 0.25s linear;
}

/*  Media Queries  */

@media only screen and (min-width: 31.25em) { 
  .grid-container {
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }
}
